{%extends 'all-pics/base.html'%}

{% block content %}

<div class="container">

    <div class="row">
        {% if pictures %}
        <h2>Found {{ pictures | length }} of searched category {{message}}</h2>
        {% else %}
        <h2>Found 0 pictures for the search category {{message}}</h2>
        {% endif %}
    </div>

    <div class="row">

       
        {% for picture in pictures %}
        <div class="col-sm-6 col-md-3">
            {% if picture.image %}
                <img src="{{picture.image.url}}" alt="{{pic.image_name}} poster" class="img-responsive" width="400" height="400" />
            {% endif %}

            <h4>Name: {{picture.image_name}}</h4>
            <h4>Description: {{picture.image_description}}</h4>
            <h4>Location: {{picture.location}}</h4>
        </div>
        {% endfor %}
       
    </div>
    </div>
</div>

{% endblock %}