h1 {
   color: black;
   background-color: white;
}

button {
   padding: 20px;
   width: 150px;
   text-align: center;
   border-radius: 30px;
   background-color: blue;
}

.btn-group button {
   background-color: beige; /* Green background */
   border: 1px solid blue; /* Green border */
   margin: 30px;
   color: black; /* White text */
   padding: 25px 24px; /* Some padding */
   cursor: pointer; /* Pointer/hand icon */
   float: left; /* Float the buttons side by side */
}
